In [2]:
import pandas as pd

travel_survey19 = pd.read_excel('2019_국민여행조사_국내여행.xlsx')

travel_survey19

,ID,Q,QQ,MON_EXP_1,MON_EXP_2,MON_EXP_3,MON_EXP_4,MON_EXP_5,MON_EXP_6,S5,...,국내_여행방문지_기타당일8,국내_여행방문지_기타당일9,국내_여행방문지_기타당일10,국내_여행방문지_기타당일11,국내_여행방문지_기타당일12,국내_여행방문지_기타당일13,국내_여행방문지_기타당일14,국내_여행방문지_기타당일15,국내_여행방문지_기타당일16,국내_여행방문지_기타당일17
0,11010550341_1000000,1,0,1,2,2,2,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11010550341_1000005,1,0,1,2,2,2,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11010550341_1000007,2,0,1,2,2,2,2,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11010550341_1000012,1,0,1,2,2,2,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11010550341_1000013,1,0,1,2,2,2,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48264,39020620091_1382329,0,0,2,2,2,2,2,2,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48265,39020620091_1382420,0,0,2,2,2,2,2,2,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48266,39020620091_1382421,1,0,1,2,2,2,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48267,39020620091_1382423,1,0,2,2,1,2,2,2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48268,39020620091_1382424,0,0,2,2,2,2,2,2,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
travel_survey20 = pd.read_csv('2020년_국민여행조사_국내여행.csv')

travel_survey20

/Users/ennye/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (1219,1223) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ID,SA1_1,SA1_2,SA1_3,SA1_4,SA1_5,SA1_6,D_TRA1_CHECK,D_TRA1_CASE,D_TRA1_S_Day,...,국내_A_여행경험자1회_여행지출_기타당일_세종,국내_A_여행경험자1회_여행지출_기타당일_경기,국내_A_여행경험자1회_여행지출_기타당일_강원,국내_A_여행경험자1회_여행지출_기타당일_충북,국내_A_여행경험자1회_여행지출_기타당일_충남,국내_A_여행경험자1회_여행지출_기타당일_전북,국내_A_여행경험자1회_여행지출_기타당일_전남,국내_A_여행경험자1회_여행지출_기타당일_경북,국내_A_여행경험자1회_여행지출_기타당일_경남,국내_A_여행경험자1회_여행지출_기타당일_제주
0,11010530201_1,0,0,0,0,0,0,,,,...,,,,,,,,,,
1,11010530201_10,0,0,0,0,0,0,,,,...,,,,,,,,,,
2,11010530201_17,0,1,0,0,0,0,Y,2,2,...,,,,,,,,,,
3,11010530201_2,0,0,1,0,0,0,,3,1,...,,,,,,,,,,
4,11010530201_22,0,0,0,0,0,0,,,,...,,,,,,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50705,39020620231_345550,0,0,0,0,0,0,,,,...,,,,,,,,,,
50706,39020620231_345551,0,0,0,0,0,0,,,,...,,,,,,,,,,
50707,39020620231_345582,0,0,0,0,0,0,,,,...,,,,,,,,,,
50708,39020620231_345590,0,0,0,0,0,0,,,,...,,,,,,,,,,
50709,39020620231_345591,0,0,0,0,0,0,,,,...,,,,,,,,,,

## MZ세대만 추출

In [4]:
travel_survey19 = travel_survey19[(travel_survey19['BAGE']==2) | (travel_survey19['BAGE']==3)] 
travel_survey20 = travel_survey20[(travel_survey20['BAGE']==2) | (travel_survey20['BAGE']==3)]

## 코로나19 MZ세대 여행 트렌드 분석 - 여행활동

In [5]:
#국내여행_여행활동_2019
#1 : 자연 및 풍경감상, 2: 음식관광(지역맛집등), 3: 야외위락 및 스포츠, 레포츠 활동 4: 역사유적지 방문, 5: 테마파크,놀이시설,식물원
#6: 휴식/휴양 7: 온천/스파 8: 쇼핑 9:지역문화예술/공연/전시시설 관람 10:스포츠경기관람 11:지역축제/이벤트 참가 12: 교육/체험 프로그램 참가
#13: 종교/성지순례 14: 카지노,경마,경륜등 15: 시티투어 16: 드라마촬영지 방문 17: 유흥/오락 18: 가족/친지/친구 방문
#19: 회의참가/ 시찰 20: 교육/훈련/연수 21:기타


tb_1 = travel_survey19[travel_survey19['A3_1'].isna()==0]['A3_1'].count()
tb_2 = travel_survey19[travel_survey19['A3_2'].isna()==0]['A3_2'].count()
tb_3 = travel_survey19[travel_survey19['A3_3'].isna()==0]['A3_3'].count()
tb_4 = travel_survey19[travel_survey19['A3_4'].isna()==0]['A3_4'].count()
tb_5 = travel_survey19[travel_survey19['A3_5'].isna()==0]['A3_5'].count()
tb_6 = travel_survey19[travel_survey19['A3_6'].isna()==0]['A3_6'].count()
tb_7 = travel_survey19[travel_survey19['A3_7'].isna()==0]['A3_7'].count()
tb_8 = travel_survey19[travel_survey19['A3_8'].isna()==0]['A3_8'].count()
tb_9 = travel_survey19[travel_survey19['A3_9'].isna()==0]['A3_9'].count()
tb_10 = travel_survey19[travel_survey19['A3_10'].isna()==0]['A3_10'].count()
tb_11 = travel_survey19[travel_survey19['A3_11'].isna()==0]['A3_11'].count()
tb_12 = travel_survey19[travel_survey19['A3_12'].isna()==0]['A3_12'].count()
tb_13 = travel_survey19[travel_survey19['A3_13'].isna()==0]['A3_13'].count()
tb_14 = travel_survey19[travel_survey19['A3_14'].isna()==0]['A3_14'].count()
tb_15 = travel_survey19[travel_survey19['A3_15'].isna()==0]['A3_15'].count()
tb_16 = travel_survey19[travel_survey19['A3_16'].isna()==0]['A3_16'].count()
tb_17 = travel_survey19[travel_survey19['A3_17'].isna()==0]['A3_17'].count()
tb_18 = travel_survey19[travel_survey19['A3_18'].isna()==0]['A3_18'].count()
tb_19 = travel_survey19[travel_survey19['A3_19'].isna()==0]['A3_19'].count()
tb_20 = travel_survey19[travel_survey19['A3_20'].isna()==0]['A3_20'].count()
tb_21 = travel_survey19[travel_survey19['A3_21'].isna()==0]['A3_21'].count()

tb = [tb_1,tb_2,tb_3,tb_4,tb_5,tb_6,tb_7,tb_8,tb_9,tb_10,tb_11,tb_12,tb_13,tb_14,tb_15,
     tb_16,tb_17,tb_18,tb_19,tb_20,tb_21]

tb_sum = 0

tb_name = ['자연 및 풍경 감상','음식관광(지역맛집 등)','야외위락 및 스포츠, 레포츠 활동','역사 유적지 방문',
          '테마파크, 놀이시설, 동/식물원 방문','휴식/휴양','온천/스파','쇼핑','지역문화예술/공연/전시시설 관람','스포츠 경기관람','지역축제/이벤트 참가',
          '교육/체험프로그램 참가','종교/성지순례','카지노,경마,경륜 등','시티투어','드라마 촬영지 방문','유흥/오락','가족/친지/친구 방문','회의 참가/시찰','교육/훈련/연수','기타']
for i in range(len(tb)):
    tb_sum += tb[i]
    
for i in range(len(tb)):
    print(tb_name[i],'{:.2f}'.format((tb[i]/tb_sum)*100)+'%\n')

#2019년 20-30대의 약 27%가 여행 활동으로 자연 및 풍경을 감상함
#2019년 20-30대의 약 21%가 여행 활동으로 휴양/휴식을 즐김

자연 및 풍경 감상 27.57%

음식관광(지역맛집 등) 19.72%

야외위락 및 스포츠, 레포츠 활동 2.14%

역사 유적지 방문 3.90%

테마파크, 놀이시설, 동/식물원 방문 4.10%

휴식/휴양 21.42%

온천/스파 0.99%

쇼핑 3.30%

지역문화예술/공연/전시시설 관람 1.96%

스포츠 경기관람 0.09%

지역축제/이벤트 참가 1.84%

교육/체험프로그램 참가 0.70%

종교/성지순례 0.49%

카지노,경마,경륜 등 0.03%

시티투어 2.34%

드라마 촬영지 방문 1.84%

유흥/오락 1.67%

가족/친지/친구 방문 4.75%

회의 참가/시찰 0.23%

교육/훈련/연수 0.36%

기타 0.54%

In [6]:
#국내여행_여행활동_2020
#1 : 자연 및 풍경감상, 2: 음식관광(지역맛집등), 3: 야외위락 및 스포츠, 레포츠 활동 4: 역사유적지 방문, 5: 테마파크,놀이시설,식물원
#6: 휴식/휴양 7: 온천/스파 8: 쇼핑 9:지역문화예술/공연/전시시설 관람 10:스포츠경기관람 11:지역축제/이벤트 참가 12: 교육/체험 프로그램 참가
#13: 종교/성지순례 14: 카지노,경마,경륜등 15: 시티투어 16: 드라마촬영지 방문 17: 유흥/오락 18: 가족/친지/친구 방문
#19: 회의참가/ 시찰 20: 교육/훈련/연수 21:기타


ta_1 = travel_survey20[travel_survey20['A5_1'] != ' ']['A5_1'].count()
ta_2 = travel_survey20[travel_survey20['A5_2'] != ' ']['A5_2'].count()
ta_3 = travel_survey20[travel_survey20['A5_3'] != ' ']['A5_3'].count()
ta_4 = travel_survey20[travel_survey20['A5_4'] != ' ']['A5_4'].count()
ta_5 = travel_survey20[travel_survey20['A5_5'] != ' ']['A5_5'].count()
ta_6 = travel_survey20[travel_survey20['A5_6'] != ' ']['A5_6'].count()
ta_7 = travel_survey20[travel_survey20['A5_7'] != ' ']['A5_7'].count()
ta_8 = travel_survey20[travel_survey20['A5_8'] != ' ']['A5_8'].count()
ta_9 = travel_survey20[travel_survey20['A5_9'] != ' ']['A5_9'].count()
ta_10 = travel_survey20[travel_survey20['A5_10'] != ' ']['A5_10'].count()
ta_11 = travel_survey20[travel_survey20['A5_11'] != ' ']['A5_11'].count()
ta_12 = travel_survey20[travel_survey20['A5_12'] != ' ']['A5_12'].count()
ta_13 = travel_survey20[travel_survey20['A5_13'] != ' ']['A5_13'].count()
ta_14 = travel_survey20[travel_survey20['A5_14'] != ' ']['A5_14'].count()
ta_15 = travel_survey20[travel_survey20['A5_15'] != ' ']['A5_15'].count()
ta_16 = travel_survey20[travel_survey20['A5_16'] != ' ']['A5_16'].count()
ta_17 = travel_survey20[travel_survey20['A5_17'] != ' ']['A5_17'].count()
ta_18 = travel_survey20[travel_survey20['A5_18'] != ' ']['A5_18'].count()
ta_19 = travel_survey20[travel_survey20['A5_19'] != ' ']['A5_19'].count()
ta_20 = travel_survey20[travel_survey20['A5_20'] != ' ']['A5_20'].count()
ta_21 = travel_survey20[travel_survey20['A5_21'] != ' ']['A5_21'].count()

ta = [ta_1,ta_2,ta_3,ta_4,ta_5,ta_6,ta_7,ta_8,ta_9,ta_10,ta_11,ta_12,ta_13,ta_14,ta_15,
     ta_16,ta_17,ta_18,ta_19,ta_20,ta_21]

ta_sum = 0

ta_name = ['자연 및 풍경 감상','음식관광(지역맛집 등)','야외위락 및 스포츠, 레포츠 활동','역사 유적지 방문',
          '테마파크, 놀이시설, 동/식물원 방문','휴식/휴양','온천/스파','쇼핑','지역문화예술/공연/전시시설 관람','스포츠 경기관람','지역축제/이벤트 참가',
          '교육/체험프로그램 참가','종교/성지순례','카지노,경마,경륜 등','시티투어','드라마 촬영지 방문','유흥/오락','가족/친지/친구 방문','회의 참가/시찰','교육/훈련/연수','기타']

for i in range(len(ta)):
    ta_sum += ta[i]
    
for i in range(len(ta)):
    print(ta_name[i],'{:.2f}'.format((ta[i]/ta_sum)*100)+'%\n')

자연 및 풍경 감상 29.01%

음식관광(지역맛집 등) 20.55%

야외위락 및 스포츠, 레포츠 활동 2.22%

역사 유적지 방문 3.31%

테마파크, 놀이시설, 동/식물원 방문 2.54%

휴식/휴양 22.37%

온천/스파 0.76%

쇼핑 3.42%

지역문화예술/공연/전시시설 관람 1.40%

스포츠 경기관람 0.03%

지역축제/이벤트 참가 0.62%

교육/체험프로그램 참가 0.62%

종교/성지순례 0.58%

카지노,경마,경륜 등 0.03%

시티투어 3.00%

드라마 촬영지 방문 1.76%

유흥/오락 1.46%

가족/친지/친구 방문 5.07%

회의 참가/시찰 0.61%

교육/훈련/연수 0.48%

기타 0.15%

## 코로나19 MZ세대 여행 트렌드 분석 - 숙박시설

In [7]:
#국내여행_2019_숙박시설
#1: 호텔, 2: 모텔/여관, 3:펜션, 4:콘도미니엄/리조트, 5: 유스호스텔, 6: 야영(캠핑)
#7: 연수원/수련원, 8: 전통 한옥 숙박시설, 9: 게스트하우스, 10: 민박(도시형/농촌형), 11: 자연 휴양림 내 숙박시설
#12: 가족 친지집 13: 무박여행 14: 기타

tc_1 = travel_survey19[travel_survey19['A6_1'].isna()==0]['A6_1'].count()
tc_2 = travel_survey19[travel_survey19['A6_2'].isna()==0]['A6_2'].count()
tc_3 = travel_survey19[travel_survey19['A6_3'].isna()==0]['A6_3'].count()
tc_4 = travel_survey19[travel_survey19['A6_4'].isna()==0]['A6_4'].count()
tc_5 = travel_survey19[travel_survey19['A6_5'].isna()==0]['A6_5'].count()
tc_6 = travel_survey19[travel_survey19['A6_6'].isna()==0]['A6_6'].count()
tc_7 = travel_survey19[travel_survey19['A6_7'].isna()==0]['A6_7'].count()
tc_8 = travel_survey19[travel_survey19['A6_8'].isna()==0]['A6_8'].count()
tc_9 = travel_survey19[travel_survey19['A6_9'].isna()==0]['A6_9'].count()
tc_10 = travel_survey19[travel_survey19['A6_10'].isna()==0]['A6_10'].count()
tc_11 = travel_survey19[travel_survey19['A6_11'].isna()==0]['A6_11'].count()
tc_12 = travel_survey19[travel_survey19['A6_12'].isna()==0]['A6_12'].count()
tc_13 = travel_survey19[travel_survey19['A6_13'].isna()==0]['A6_13'].count()
tc_14 = travel_survey19[travel_survey19['A6_14'].isna()==0]['A6_14'].count()

tc=[tc_1,tc_2,tc_3,tc_4,tc_5,tc_6,tc_7,tc_8,tc_9,tc_10,tc_11,
   tc_12,tc_13,tc_14]

tc_sum =0

tc_name =['호텔','모텔/여관','펜션','콘도미니엄/리조트','유스호스텔','야영(캠핑)','연수원/수련원','전통 한옥숙박시설',
         '게스트하우스','민박(도시형/농촌형)','자연 휴양림 내 숙박시설','가족/친지집','무박여행','기타']

for i in range(len(tc)):
    tc_sum += tc[i]
    
for i in range(len(tc)):
    print(tc_name[i],'{:.2f}'.format((tc[i]/tc_sum)*100)+'%\n')

호텔 11.01%

모텔/여관 10.72%

펜션 30.07%

콘도미니엄/리조트 11.95%

유스호스텔 1.50%

야영(캠핑) 3.34%

연수원/수련원 0.97%

전통 한옥숙박시설 1.37%

게스트하우스 4.50%

민박(도시형/농촌형) 3.05%

자연 휴양림 내 숙박시설 1.90%

가족/친지집 17.48%

무박여행 0.76%

기타 1.37%

In [8]:
#국내여행_2020
#1: 호텔, 2: 모텔/여관, 3:펜션, 4:콘도미니엄/리조트, 5: 유스호스텔, 6: 야영(캠핑)
#7: 연수원/수련원, 8: 전통 한옥 숙박시설, 9: 게스트하우스, 10: 민박(도시형/농촌형), 11: 자연 휴양림 내 숙박시설
#12: 가족 친지집 13: 무박여행 14: 기타

td_1 = travel_survey20[travel_survey20['D_TRA1_1_Q6']=='1']['D_TRA1_1_Q6'].count()
td_2 = travel_survey20[travel_survey20['D_TRA1_1_Q6']=='2']['D_TRA1_1_Q6'].count()
td_3 = travel_survey20[travel_survey20['D_TRA1_1_Q6']=='3']['D_TRA1_1_Q6'].count()
td_4 = travel_survey20[travel_survey20['D_TRA1_1_Q6']=='4']['D_TRA1_1_Q6'].count()
td_5 = travel_survey20[travel_survey20['D_TRA1_1_Q6']=='5']['D_TRA1_1_Q6'].count()
td_6 = travel_survey20[travel_survey20['D_TRA1_1_Q6']=='6']['D_TRA1_1_Q6'].count()
td_7 = travel_survey20[travel_survey20['D_TRA1_1_Q6']=='7']['D_TRA1_1_Q6'].count()
td_8 = travel_survey20[travel_survey20['D_TRA1_1_Q6']=='8']['D_TRA1_1_Q6'].count()
td_9 = travel_survey20[travel_survey20['D_TRA1_1_Q6']=='9']['D_TRA1_1_Q6'].count()
td_10 = travel_survey20[travel_survey20['D_TRA1_1_Q6']=='10']['D_TRA1_1_Q6'].count()
td_11 = travel_survey20[travel_survey20['D_TRA1_1_Q6']=='11']['D_TRA1_1_Q6'].count()
td_12 = travel_survey20[travel_survey20['D_TRA1_1_Q6']=='12']['D_TRA1_1_Q6'].count()
td_13 = travel_survey20[travel_survey20['D_TRA1_1_Q6']=='13']['D_TRA1_1_Q6'].count()
td_14 = travel_survey20[travel_survey20['D_TRA1_1_Q6']=='14']['D_TRA1_1_Q6'].count()

td = [td_1,td_2,td_3,td_4,td_5,td_6,td_7,td_8,
     td_9,td_10,td_11,td_12,td_13, td_14]

td_sum = 0

td_name =['호텔','모텔/여관','펜션','콘도미니엄/리조트','유스호스텔','야영(캠핑)','연수원/수련원','전통 한옥숙박시설',
         '게스트하우스','민박(도시형/농촌형)','자연 휴양림 내 숙박시설','가족/친지집','무박여행','기타']

for i in range(len(td)):
    td_sum += td[i]
    
for i in range(len(td)):
    print(td_name[i],'{:.2f}'.format((td[i]/td_sum)*100)+'%\n')

호텔 8.31%

모텔/여관 7.25%

펜션 26.88%

콘도미니엄/리조트 8.31%

유스호스텔 0.63%

야영(캠핑) 3.81%

연수원/수련원 0.40%

전통 한옥숙박시설 1.09%

게스트하우스 2.45%

민박(도시형/농촌형) 2.12%

자연 휴양림 내 숙박시설 2.02%

가족/친지집 35.48%

무박여행 0.36%

기타 0.89%